.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--coursesbackground);
  font-family: sans;
}
.content {
  width: 980px;
  min-height: 484px;
  margin: auto;
  margin-top: 90px;
  color: var(--whiteText);
  border-bottom: 1px solid var(--border);
}
.contentHeader {
  display: flex;
  width: 980px;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 400;
}
.contentHeader > span {
  color: var(--question);
  font-size: 20px;
  font-weight: 700;
  transition: color 0.5s ease;}

.question {
  width: 980px;
  border-bottom: 1px solid var(--border);
  font-family: sans-serif;
  font-weight: 100;
  cursor: pointer;
}
.quest1,
.quest2,
.quest3 {
  display: flex;
  font-size: 20px;
  font-weight: 200;
  margin: 30px 0 30px 0;
  justify-content: space-between;
}
.quest1 {
  margin-top: 65px;
}
.svg {
  height: 25px;
}
.steps {
  margin-top: 35px;
  width: 95%;
  margin: auto;
  font-size: 16px;
}
.step {
  font-weight: 50;
}
.step > span {
  font-weight: 700;
  letter-spacing: 1px;
}
.header,
.footer {
  font-size: 1.2rem;
}
.answer{
  font-size: 16px;
}
.allQuest:hover{
  color: var(--whiteText);
  cursor: pointer;
}