.main {
  background-color: var(--coursesbackground);
  border-top: 1px solid var(--border);
  width: 100vw;
  padding-bottom: 50px;
}
.content {
  width: var(--contentWidth);
  margin: auto;

}
.components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px; 
}

.header {
  width: 100%;
  font-size: 1.9rem;
  padding-bottom: 70px;
  padding-top: 30px;
  color: var(--whiteText);
}
.component {
  min-width: 300px;
  height: 465px;
  display: grid;
border-radius: 10px;
  outline: 1px solid var(--border);
}
.details {
  color: var(--whiteText);
}
.details>img{
  width: 100%;
}
.details > h2,
.details > h3 {
  margin-left: 20px;
  font-weight: 500;
  margin-top: 40px;
  line-height: 30px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.details>h3{
  font-size: 1.2rem;
}

.button > button {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--activeLink);
  background-color: unset;
  border: none;
  margin-left: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.button > button > img {
  height: 16px;
  padding-right: 5px;
}
.button > button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width:1100px) {
  .components{
   column-gap: 10px;
   row-gap: 10px; 
   min-width: 90%;
   margin: auto;

  }
  .content{
    max-width: 1000px;
    width: unset;
  }
  .component{
    min-width: 100px;
    margin: auto;
  
  
  }
}

@media (max-width: 900px) {
  .content{
    width: 100vw;
  }
  .components{
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5px;
  column-gap: 5px;

  }
  .component{
    max-width: 400px;
    margin: auto;
  }
  .header{
    font-size: 1.7rem;
    margin-left: 50px;
  }
}
@media (max-width: 600px) {
  .content{
    width: 100vw;
  }
  .components{
    grid-template-columns: repeat(1, 1fr);
  row-gap: 5px;
  column-gap: 5px;

  }
  .component{
    width: 320px;
    margin: auto;
  }
  .header{
    font-size: 1.7rem;
    margin-left: 50px;
  }
}