:root {
  --lightBackground: #2b2b2b;
  --darkBackground: #1a1e1f;
  --border: #4a4b4a;
  --bluetext: #0e4b61;
  --whiteText: #f4f4f4;
  --activeLink: #00a3e0;
  --courseDetail: #00aeef;
  --question: #00aef3;
}

.navbar {
  position: sticky;
  height: 95px;
  width: 100vw;
  border: none;
  display: flex;
  margin: -8px;
  justify-content: center;
  background-color: var(--darkBackground);
}
