:root {
  --lightBackground: #2b2b2b;
  --darkBackground: #1a1e1f;
  --coursesbackground:#161616;
  --border: #4a4b4a;
  --bluetext: #0e4b61;
  --whiteText: #f4f4f4;
  --activeLink: #00a3e0;
  --courseDetail: #00aeef;
  --question: #00aef3;
  --contentWidth:1100px;
}
@font-face {
  font-family: "mtavruli";
  src: local("mtavruli"), url("../assets/fonts/mtavruli/mtavruli.ttf");
}
@font-face {
  font-family: "arialBold";
  src: local("arial"), url("../assets/fonts/arial/arial.ttf");
}
@font-face {
  font-family: "tallAcad";
  src: local("tall"), url("../assets/fonts/tall/tall.ttf");
}
@font-face {
  font-family: "sans";
  src: local("Regular"), url("../assets/fonts/sans/NotoSansGeorgian-VariableFont_wdth\,wght.ttf");
}


.layout{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
